body{
	font-family: 'Nunito', sans-serif;
	font-family: 'Roboto', sans-serif;
	background-color: #888888;
}

header{
	color:#ffffff;
}

.title_s{
	font-style: normal;
}

.block{
	display:block;
	background-color: #ffffff;
	max-width: 320px;
	min-height: 85px;
	max-height: 200px;
	color: #000000;
	font-style: normal;
	border-radius: 10px;
	border: 2px solid #000000;
	margin: -30px 5px;
	text-decoration: none;
	font-size: 20px;
	text-align: center;
}

.images{
	width: 20px;
	height: 20px;
}

.shadow{
	display:block;
	background-color: #000000;
	max-width: 320px;
	min-height: 85px;
	max-height: 200px;
	border-radius: 10px;
	position: relative;
	z-index: -1;
	top: -48px;
	right: -8px;
}
