body{
	font-family: 'Nunito', sans-serif;
	font-family: 'Roboto', sans-serif;
	background-color: #888888;
}

header{
	color:#ffffff;
}
/* .title{

} */

#logo-img{
	/* border-radius: 25px; */
}

.title_s{
	font-style: normal;
}

.block{
	display:block;
	background-color: #ffffff;
	width: 320px;
	height: 85px;
	color: #000000;
	font-style: normal;

	border-radius: 10px;
	border: 2px solid #000000;

	margin: 20px 5px;

 /*  */

	text-decoration: none;
	font-size: 20px;
	text-align: center;

	/*  */

	text-decoration: none;

}
.images{
	width: 20px;
	height: 20px;
}
.shadow{
	display:block;
	background-color: #000000;
	width: 320px;
	height: 85px;
	border-radius: 10px;
	position: relative;

	z-index: -1;
	top: -95px;
	right: -15px;
}